/*********
Imported sheets
********/

@import '../genericons/genericons.css';

/*******
Colors
*******/

$dark-blue: #066591;
$light-blue: #5DB5DE ;
$orange: #FAB937;
$light-orange: #F7F78F;
$dark-grey: #292929;


/****
Fonts
*******/

@mixin font {
	font-family: 'Chewy', cursive;
}

@mixin font-bold {
	font-family: 'Droid Sans', sans-serif;
}

/*******
Placeholders
**********/

%genericon {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font: normal 50px/1 'Genericons';
    vertical-align: middle;
    color: $light-blue;
    margin: 0 4%;
}

/******
General Style

*********/

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

html, body, h1, h2, span, div, a, img, ul, li {
	margin: 0;
	padding: 0;
}

/*****
Page Style
*******/

div.wrapper {
	text-align: center;
	background: $light-blue url('../img/shattered.png') repeat top right;
}


h1 {
	@include font-bold;
	font-size: 50px;
	padding: 20px;
	margin: 0 auto;
	text-align: left;
}


h2 {
	@include font;
	font-size: 40px;
	padding: 10px 0 0 0;
	margin: 2%;
	color: $dark-blue;

	&:before {
		content: '\f202';
		@extend %genericon;
	}

	&:after {
		content: '\f202';
		@extend %genericon;
	}
}

div.randomTwitter {
	width: 50%;
	height: 50px;
	margin: 1% auto;
	padding: 2% 0;
	clear: both;
	font-family: Arial, sans-serif;
	font-size: 14px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: white;
}

div.score {
	@include font;
	font-size: 20px;
	float: right;
	padding: 10px;
	margin: 2% 5%;

	p {
		margin: 0;
	}
}

a.profile {
	margin: 2% 10%;

	img {
		border-radius: 50%;
		border: 5px solid $orange;
		max-width: 200px;
		max-height: 200px;

	}
}

a.profile1 {
	float: left;


}

a.profile2 {
	float: right;
}




