/*******
Colors
*******/

$dark-blue: #066591;
$light-blue: #5DB5DE ;
$orange: #FAB937;
$light-orange: #F7F78F;
$dark-grey: #292929;


/****
Fonts
*******/

@mixin font {
	font-family: 'Chewy', cursive;
}

@mixin font-bold {
	font-family: 'Droid Sans', sans-serif;
}


/******
General Style

*********/

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

html, body, h1, h2, span, div, a, img, ul, li {
	margin: 0;
	padding: 0;
}

/*****
Page Style
*******/

div.wrapper {
	text-align: center;

}


h1 {
	@include font-bold;
	font-size: 50px;
	padding: 20px;
	margin: 0 auto;
	text-align: left;
}


h2 {
@include font;
font-size: 40px;
padding: 10px 0 0 0;
margin: 2%;
}

div.randomTwitter {
	width: 50%;
	height: 80px;
	margin: 1% auto;
	padding: 6% 0 0 0;
	clear: both;
	font-family: Arial, sans-serif;
	font-size: 14px;
	border: 1px solid black;
}

div.score {
	@include font;
	font-size: 20px;
	float: right;
	padding: 10px;
	margin: 0 5%;
}

a.profile {
	margin: 3% 5%;

	img {
		border-radius: 50%;
		border: 5px solid $orange;
		width: 200px;
		height: 200px;

	}
}

a.profile1 {
	float: left;


}

a.profile2 {
	float: right;
}




