@import url(../genericons/genericons.css);
/*********
Imported sheets
********/
/*******
Colors
*******/
/****
Fonts
*******/
/*******
Placeholders
**********/
h2:before, h2:after {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font: normal 50px/1 'Genericons';
  vertical-align: middle;
  color: #5db5de;
  margin: 0 4%;
}

/******
General Style

*********/
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

html, body, h1, h2, span, div, a, img, ul, li {
  margin: 0;
  padding: 0;
}

/*****
Page Style
*******/
div.wrapper {
  text-align: center;
  background: #5db5de url("../img/shattered.png") repeat top right;
}

h1 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 50px;
  padding: 20px;
  margin: 0 auto;
  text-align: left;
}

h2 {
  font-family: 'Chewy', cursive;
  font-size: 40px;
  padding: 10px 0 0 0;
  margin: 2%;
  color: #066591;
}
h2:before {
  content: '\f202';
}
h2:after {
  content: '\f202';
}

div.randomTwitter {
  width: 50%;
  height: 50px;
  margin: 1% auto;
  padding: 2% 0;
  clear: both;
  font-family: Arial, sans-serif;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

div.score {
  font-family: 'Chewy', cursive;
  font-size: 20px;
  float: right;
  padding: 10px;
  margin: 2% 5%;
}
div.score p {
  margin: 0;
}

a.profile {
  margin: 2% 10%;
}
a.profile img {
  border-radius: 50%;
  border: 5px solid #fab937;
  max-width: 200px;
  max-height: 200px;
}

a.profile1 {
  float: left;
}

a.profile2 {
  float: right;
}
